body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-toolbar {
    margin-bottom: 20px;
}

.layout-main{
    position: relative;
    width:100%;
    height: 80%;
}

.layout-main .jumbotron{
    background-color: transparent;
    padding:0px;
    width:100%;
    height:100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.hide-main{visibility: hidden;}
